/*ESTILO GERAL*/

*{

    margin: 0;
    padding: 0;
    box-sizing: border-box; /*resetar as configurações padrões*/

}


body{

    font-family: "Poppins", sans-serif;

}



#interface {

    max-width: 1000px; /*máxima largura do site*/
    margin: 0 auto; /*centralizar o conteúdo*/
    margin-top: 25px;

}


/*MENU*/


#menu li{

    list-style: none;
    display: inline-block;
    padding: 10px;
    font-size: 13px;

}


#menu li a{

    text-decoration: none;
    color: inherit;

}

#menu li a:hover{

    display: inline-block;
    color: grey;
    transform: scale(1.05);
    transform: 1s;
    
    

}

hr{

    margin-top: 20px;
    

}